/* For smartphones , iphones and small screens */

@media screen and (max-width: 570px){
    .my-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        transform: translate(7rem);
    }
    .projects{
        margin-left: 0;
    }
    
    .links{
        display:none;  
        margin-right: 0;
    }
    .conclusion{
        text-align: justify;
        font-size: 11px;
        display: flex;
        justify-content: space-between;
        transform: translate(-50px);
    }
    .cards p{
        display: none;
    }
    .intro{
        transform: translate(50px);
    }
    #menu{
        display: block;
    }
    .input-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        margin-left: -100px;
    }
    .bar{
        width: 750px;
        transform: translate(109px);
    }
    
    .input-box button{
        transform: translate(600px);
    }
    input[type="range"] {
        width: 300px;
    }
}


/* For tabs and larger screens */

@media screen and (max-width:1204px){
    .input-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 780px;
    }
    .bar{
        width: 750px;
        transform: translate(109px);
    }
    .input-box button{
        transform: translate(700px);
    }
    .my-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .my-blog img{
        height: 350px;
        width: 350px;
        margin-top: 50px;
    }
    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #homeLink, #aboutLink, #blogLink, #skillLink{
        display: none;
    }
}
@media screen and (max-width:870px){
    .nav-tabs{
        display: none;
    }
    #menu{
        display: block;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-box{
        margin: 40px 0px;
    }
    .cards p{
        display: none;
    }
}

/* For large screen */

@media screen and (max-width: 1500px) {
    .box{
        width: 160px
    }
    .box img{
        width: 160px;
    }
}